In [57]:
import pandas as pd
import numpy as np
prices = pd.read_csv('D:/jupyter notebook/EDHEC/Files/home/jovyan/work/data/Portfolios_Formed_on_ME_monthly_EW.csv ',header=0, index_col=0)
rets = prices[['Lo 20', 'Hi 20']]
rets1 = rets/100
# rets1
rets2 = rets1.loc['199901':'201512']
rets2
# annualized_vol = rets2.std()*np.sqrt(12)
# annualized_vol

         Lo 20   Hi 20
199901  0.1114  0.0153
199902 -0.0399 -0.0172
199903 -0.0308  0.0368
199904  0.0824  0.0679
199905  0.0435 -0.0048
...        ...     ...
201508 -0.0347 -0.0559
201509 -0.0610 -0.0333
201510  0.0385  0.0710
201511  0.0165  0.0015
201512 -0.0500 -0.0229

[204 rows x 2 columns]

In [85]:
def drawdown(return_series: pd.Series):
    """Takes a time series of asset returns.
       returns a DataFrame with columns for
       the wealth index, 
       the previous peaks, and 
       the percentage drawdown
    """
    wealth_index = 1000*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index - previous_peaks)/previous_peaks
    return pd.DataFrame({"Wealth": wealth_index, 
                         "Previous Peak": previous_peaks, 
                         "Drawdown": drawdowns})

# drawdown(rets1["Lo 20"]).plot()
# drawdown(rets2["Lo 20"]).min()
drawdown(rets2["Hi 20"]).min()

Wealth            721.706638
Previous Peak    1015.300000
Drawdown           -0.552735
dtype: float64

In [66]:
drawdown(rets1["Hi 20"])["Drawdown"].idxmin()

193205

In [46]:
n_months = rets1.shape[0]
return_per_month = (rets1+1).prod()**(1/n_months) - 1
annualized_return = (return_per_month + 1)**12-1
annualized_return = (rets1+1).prod()**(12/n_months) - 1
annualized_return

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [48]:
n_months = rets2.shape[0]
return_per_month = (rets2+1).prod()**(1/n_months) - 1
annualized_return = (return_per_month + 1)**12-1
annualized_return = (rets2+1).prod()**(12/n_months) - 1
annualized_return

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [77]:
import pandas as pd
import numpy as np
prices = pd.read_csv('D:/jupyter notebook/EDHEC/Files/home/jovyan/work/data/edhec-hedgefundindices.csv',header=0, index_col=0)
# prices
prices1 = prices.loc['31/12/2008':'30/11/2018']
prices1
prices2 = prices.loc['31/12/1999':'30/11/2018']

In [76]:
def skewness(r):
    """
    Alternative to scipy.stats.skew()
    Computes the skewness of the supplied Series or DataFrame
    Returns a float or a Series
    """
    demeaned_r = r - r.mean()
    # use the population standard deviation, so set dof=0
    sigma_r = r.std(ddof=0)
    exp = (demeaned_r**3).mean()
    return exp/sigma_r**3

skewness(prices1).sort_values()

Equity Market Neutral    -0.890776
Funds Of Funds           -0.621765
Merger Arbitrage         -0.517616
Event Driven             -0.470052
Long/Short Equity        -0.469743
Distressed Securities    -0.243860
CTA Global                0.037531
Emerging Markets          0.039715
Relative Value            0.166604
Global Macro              0.329926
Short Selling             0.461450
Fixed Income Arbitrage    1.122714
Convertible Arbitrage     1.284789
dtype: float64

In [78]:
def kurtosis(r):
    """
    Alternative to scipy.stats.kurtosis()
    Computes the kurtosis of the supplied Series or DataFrame
    Returns a float or a Series
    """
    demeaned_r = r - r.mean()
    # use the population standard deviation, so set dof=0
    sigma_r = r.std(ddof=0)
    exp = (demeaned_r**4).mean()
    return exp/sigma_r**4

kurtosis(prices2).sort_values()

CTA Global                 2.851154
Short Selling              4.330888
Merger Arbitrage           4.536763
Global Macro               4.666646
Long/Short Equity          4.751460
Event Driven               5.510284
Distressed Securities      6.190778
Emerging Markets           6.412693
Funds Of Funds             7.819005
Relative Value            12.683579
Equity Market Neutral     19.849772
Convertible Arbitrage     23.071052
Fixed Income Arbitrage    33.480930
dtype: float64

In [79]:
def semideviation(r):
    """
    Returns the semideviation aka negative semideviation of r
    r must be a Series or a DataFrame, else raises a TypeError
    """
    is_negative = r < 0
    return r[is_negative].std(ddof=0)

In [83]:
semideviation(prices1).sort_values()

Fixed Income Arbitrage    0.325222
Merger Arbitrage          0.361121
Global Macro              0.507508
Equity Market Neutral     0.518610
Relative Value            0.571123
Convertible Arbitrage     0.668103
Funds Of Funds            0.786479
Distressed Securities     0.946711
Event Driven              1.002354
CTA Global                1.099578
Long/Short Equity         1.213857
Emerging Markets          1.529747
Short Selling             2.117289
dtype: float64